.outer{
    width: 100vw;
    height: 100vh;
    background-color: linear-gradient(#FFA3FD, rgb(162,26,183));
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 20%;
    padding: 50px;
    border-radius: 25px;
    background-color: rgb(161,46,196);
}

img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: solid white;
}