h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar {
  background-color: aqua;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  padding-bottom: 5px;
}
.nav {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: large;
  border: 1px solid rgb(44, 171, 194);
  background: rgb(127, 178, 194);
  border-radius: 2px;
}
